<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafío - Like Me</title>
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body>
    <h2 class="py-5 text-center main_title">
      &#128248; Like Me &#128248;
      <div class="separador"></div>
    </h2>
    <div class="row m-auto px-5">
      <div class="col-12 col-sm-4">
        <form class="bg-dark text-center">
          <div class="form-group">
            <h5>Crear post</h5>
            <label for="titulo" class="form-label">¿Quién postea?</label>
            <input
              id="titulo"
              name="titulo"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mt-3">
            <label for="img" class="form-label">URL de la imagen</label>
            <input
              id="img"
              name="img"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="form-group mt-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <br />
            <textarea
              id="descripcion"
              class="form-control"
              name="descripcion"
              cols="30"
              rows="5"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary my-3 d-block mx-auto">
            Crear
          </button>
          <p id="creado" class="text-white p-3 d-none">
            Post creado con éxito &#128378;
          </p>
        </form>
      </div>

      <div class="col-12 col-sm-8 px-5 row posts align-items-start"></div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
